/* General */
body{
    background-color: #FAFAFA;
}

main {
  flex: 1 0 auto;
}

/* Navbar */
#logo-container img {
    margin-right: 1.1rem
}

#nav-username {
    margin-right: 1.25rem
}

/* Landing page */
#index-banner {
    background-size: cover;
    height: calc(100vh - 225.3px - 64px);
    padding-top: 100px;
}

/* Footer */
footer.page-footer {
    margin-top: 0px;
}

/* Products */
.products-card .card-image {
    background-size: cover;
    background-position: 50% 50%;
    height: 250px;
}

/* app bar bg: */
.app-bar {
  background-color: #00BDD3;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 4px 4px 0 rgba(0,0,0,0.24);
  font-family: Roboto-Medium;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 28px;
}

/* Cards view */
.card-browser {
  position: fixed;
}

.swipe-card .icon-bar {
  /* Rectangle 2: */
  background: #B2DFBD;
  border: 2px solid #4DB6AC;
  border-radius: 10px;
  font-family: Roboto-Medium;
  font-size: 20px;
  color: #000000;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.swipe-card img {
  vertical-align: middle;
}
  /* Oval: */
.swipe-card .oval {
  background: #FF7320;
  border: 1px solid #979797;
  /* 2 mi: */
  font-family: Roboto-Medium;
  font-size: 20px;
  color: #000000;
  line-height: 12px;
  /* $$$$: */
}

.swipe-card {
  text-align: center;
}

.swipe-card .swipe-left {
  float: left;
}

.swipe-card .swipe-right {
  float: right;
}
