#main {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  background: url(restaurant.jpg) center / cover;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: Lato, sans-serif;
}
a {
  text-decoration: none;
  color: #4CAF50;
}
.header {
  text-align: center;
}
h1 {
  color: #ffe16e;
  font-size: 70px;
  line-height: 50px;
  margin-bottom: 5px;
}
.tagline {
  color: white;
  margin-bottom: 20px;
}
.myButton {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border: none;
  border-radius: 2px;
  position: relative;
  height: 36px;
  margin: 5px 0 0 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
#instructions {
  color: white;
  margin-top: 5px;
}
#instructions:hover {
  cursor: pointer;
}
#card {
  display: none;
}
.card {
  margin: 10px auto 0 auto;
  height: 208px;
  width: 250px;
  padding: 10px 20px;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.card-list {
  padding-left: 10px;
  color: #4d4a59;
}
.card-list li {
  margin-bottom: 15px;
}
.bold {
  font-weight: 900;
  color: black;
}
.footer {
  position: fixed;
  bottom: 0;
  color: #b3b3b3;
  font-size: 14px;
  margin-left: 12px;
}
.footer a {
  color: #b3b3b3;
}
